In [1]:
from pyspark.sql import SparkSession

In [2]:
spark = SparkSession.builder.appName('aggs').getOrCreate()

In [3]:
df = spark.read.csv('/FileStore/tables/sales_info.csv',inferSchema=True,header=True)

In [4]:
df.show()

In [5]:
df.printSchema()

In [6]:
df.groupBy('Company')

In [7]:
df.groupBy('Company').mean().show()

In [8]:
df.groupBy('Company').count().show()

In [9]:
# If you don't care about doing the aggregation per "group"
df.agg({'Sales':'max'}).show()

In [10]:
gdf = df.groupBy('Company')

In [11]:
# agg() and dict syntax for the GroupedData object as well
gdf.agg({'Sales':'max'}).show()

In [12]:
gdf.count()

In [13]:
from pyspark.sql.functions import countDistinct,avg,stddev

In [14]:
df.select(countDistinct('Sales')).show()

In [15]:
df.select(avg('Sales').alias('avg_sales')).show()

In [16]:
df.select(stddev('Sales')).show()

In [17]:
# Format output to reduce sigfigs
from pyspark.sql.functions import format_number

In [18]:
sales_stddev = df.select(stddev('Sales').alias('stddev'))

In [19]:
# format_number() takes colName and a number of decimal places
sales_stddev.select(format_number('stddev',4)).show()

In [20]:
# orderBy func is asc by default
df.orderBy('Sales').show()

In [21]:
# to orderBy desc, you have to call out the actual column (object type) and apply .desc() to it
df.orderBy(df['Sales'].desc()).show()