In [1]:
from pyspark.sql import SparkSession
from pyspark.sql.types import (StructField,
                               StringType,
                               IntegerType,
                               StructType)

In [2]:
spark = SparkSession.builder.appName('Basics').getOrCreate()

In [3]:
df = spark.read.json('/FileStore/tables/people.json')

In [4]:
df.printSchema()

In [5]:
# df.columns
# df.describe
# df.describe()
df.describe().show()

In [6]:
schema = [StructField('age',IntegerType(),True),
         StructField('name',StringType(),True)]

In [7]:
final_struct = StructType(fields=schema)

In [8]:
df = spark.read.json('/FileStore/tables/people.json',schema=final_struct)

In [9]:
df.describe().show()

In [10]:
df['age']

In [11]:
type(df['age'])

In [12]:
df.select('age')

In [13]:
df.select('age').show()

In [14]:
type(df.select('age'))

In [15]:
df.head(2)

In [16]:
type(df.select().head())

In [17]:
df.select(['age'])

In [18]:
df.select(['age']).show()

In [19]:
df.select(['age','name']).show()

In [20]:
df.withColumn('doubleage',df['age']*2).show()